In [1]:
import pandas as pd
import datetime

In [2]:
data = pd.read_csv('coinbaseUSD_1-min_data_2014-12-01_to_2018-03-27.csv')
data.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,300.0,300.0,300.0,300.0,0.01,3.0,300.0
2,1417412100,300.0,300.0,300.0,300.0,0.01,3.0,300.0
3,1417412160,300.0,300.0,300.0,300.0,0.01,3.0,300.0
4,1417412220,300.0,300.0,300.0,300.0,0.01,3.0,300.0

In [3]:
updated_time = [datetime.datetime.fromtimestamp(int(timestamp)).strftime('%Y-%m-%d') for timestamp in data.Timestamp]

In [4]:
data['Date'] = updated_time

In [5]:
data = data.drop(columns='Timestamp')

In [19]:
data.head(4100)

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Date
0,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
1,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
2,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
3,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
4,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
5,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
6,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
7,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
8,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
9,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
10,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
11,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
12,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
13,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
14,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
15,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
16,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
17,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
18,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
19,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
20,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
21,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
22,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
23,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
24,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
25,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
26,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-11-30
27,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-12-01
28,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-12-01
29,300.00,300.00,300.0,300.0,0.010,3.0000,300.000000,2014-12-01
...,...,...,...,...,...,...,...,...
4070,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4071,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4072,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4073,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4074,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4075,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4076,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4077,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4078,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4079,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4080,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4081,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4082,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4083,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4084,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4085,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4086,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4087,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4088,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4089,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4090,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4091,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4092,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4093,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4094,378.00,378.00,378.0,378.0,0.010,3.7800,378.000000,2014-12-03
4095,377.10,377.10,377.1,377.1,0.010,3.7710,377.100000,2014-12-03
4096,378.00,378.00,378.0,378.0,0.015,5.6700,378.000000,2014-12-05
4097,375.01,375.01,375.0,375.0,0.235,88.1251,375.000426,2014-12-08
4098,398.00,398.00,398.0,398.0,0.010,3.9800,398.000000,2014-12-09
4099,360.50,360.50,360.5,360.5,0.010,3.6050,360.500000,2014-12-09

In [ ]:
grouped_data = data.groupby('Date').last()

In [ ]:
grouped_data

In [ ]:
grouped_data.to_csv('coinbase_bitcoin.csv')